*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    font-weight: bold;
}
p{
    margin-left: 15%;
    margin-right: 15%;
}
ul{
    margin-left: 20%;
    margin-right: 20%;
}
#logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 25%;
}
.bookmarks{
   display: flex;
   justify-content: flex-end;
}
.link{
    margin-left: 10%;
}
.row{
    display: inline-flex;
}
.photo{
    width: 40%;
}
.description{
    width: 60%;
}
.list-photo{
    display: inline-flex;
    margin-left: 20%;
    
    width: 40%;
}
.list-photo-principal{
    display: inline-flex;
    margin-left: 40%;
    width: 40%;
}
.list-name{
    display: inline-flex;
    margin-top: 10%;
    width: 60%;
}

